nav.breadcrumb ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.breadcrumb li + li::before {
  border-right: 0.1em solid var(--color-primary);
  content: '';
  display: inline-block;
  height: 0.8em;
  margin-inline-end: var(--space-xs);
  transform: rotate(15deg);
}

nav.breadcrumb [aria-current='page'] {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
}
