/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12

- font family - modernfontstacks.com
- font size - utopia.fyi
*/
:root {
  /* set per project */
  --font-family-headline: system-ui, sans-serif;

  /* set per project */
  --font-family-body: system-ui, sans-serif;

  /* 12.5px → 12.8px */
  --font-size-xs: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);

  /* 15px → 16px */
  --font-size-s: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);

  /* 18px → 20px */
  --font-size: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);

  /* 21.6px → 25px */
  --font-size-l: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);

  /* 25.92px → 31.25px */
  --font-size-xl: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);

  /* 31.104px → 39.0625px */
  --font-size-2xl: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);

  /* 37.3248px → 48.8281px */
  --font-size-3xl: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);

  /* 44.7898px → 61.0352px */
  --font-size-4xl: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --font-size-body: var(--font-size);
  --line-height-headline: 1.2;
  --line-height-body: 1.5;
  --letter-spacing-headline: 0em;
  --letter-spacing-body: 0em;
  --letter-spacing-overline: 0.025em;
  --font-weight-headline: 700;
  --font-weight-body: 400;
}
