.clip {
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.clip-block-start-start {
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.clip-block-start-end {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.clip-block-end-start {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.clip-block-end-end {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}
