.avatar {
  aspect-ratio: 1/1;
  border: 3px solid var(--color-background);
  border-radius: var(--radius-circle);
  inline-size: var(--font-size-3xl);
}

.avatar-s {
  inline-size: var(--font-size-2xl);
}

.avatar-l {
  inline-size: var(--font-size-4xl);
}

.avatar-list {
  align-items: baseline;
  display: inline-flex;
  flex-flow: row nowrap;
}

.avatar-list > *:not(:first-child) {
  margin-inline-start: calc(-1 * var(--space-2xs));
}
