.justify-start {
  box-sizing: content-box;
  margin-inline-end: auto;
}

.justify-center {
  box-sizing: content-box;
  margin: auto;
}

.justify-end {
  box-sizing: content-box;
  margin-inline-start: auto;
  inline-size: fit-content;
}

.justify-start-intrinsic {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.justify-center-intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.justify-end-intrinsic {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
