p {
  color: var(--color-on-background);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  margin: 0;
  max-inline-size: 60ch;
  min-inline-size: 10ch;
}

.measure-s {
  max-inline-size: 40ch;
}

.lead {
  color: var(--color-on-background);
  font-size: var(--font-size-l);
  max-inline-size: 50ch;
  min-inline-size: 5ch;
}

.overline {
  color: var(--color-primary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-headline);
  letter-spacing: var(--letter-spacing-overline);
  min-inline-size: unset;
  text-transform: uppercase;
}

.color-primary {
  color: var(--color-primary);
}
