.strip {
  display: block;
  overflow: scroll hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
}

.strip::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.reel > .card {
  scroll-snap-align: start;
  width: 20rem;
}
